body {
    background-color: #7a858d;
}

.form-control:focus {
    border-color: #00a6ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 123, 255, 0.5);
}

.red-field {
    border-color: #ff0000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 0, 0, 0.25));
}

.modal-header {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.35), rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.35));
}

.user-info-container {
    background-image: linear-gradient(to right, rgba(30, 31, 38, 1), rgba(30, 31, 38, 0.15), rgba(30, 31, 38, 1));
}
